<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/auto.jpg);">
        <div class="login-box card">
            <div class="card-body">


                
                <form [formGroup]="myFormUser" (ngSubmit)="registerUser()">
                    <h3 class="box-title m-b-20">Registrarse</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" required="true" placeholder="Name" formControlName="usuarioF">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="true" placeholder="Email" formControlName="passwordF">
                        </div>
                    </div>
                    <div class="form-group text-center p-b-20">
                        <div class="col-xs-12">
                            <button
                                class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
                                type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign
                                    In</b></a>
                        </div>
                    </div>
                </form>






            </div>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->